<div class="contenedor">
  <div class="l-form">
    <form class="formL">

      <h1 class="form__title">Iniciar Sesión</h1>

      <div class="form__div">
        <input type="text" class="form__input" placeholder="">
        <label class="form__label">Email</label>
      </div>

      <div class="form__div">
        <input type="password" class="form__input" placeholder="">
        <label class="form__label">Contraseña</label>
      </div>

      <button (click)="login()" class="form__button">Entrar</button>
      <a class="mt-2" [routerLink]="'/register'">Crea una cuenta</a>
    </form>
  </div>
</div>
